.vscode
node_modules/
dist/
.old/
.pi/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Local Python environments
.venv/
.ruff_cache/
.ropeproject/
.pytest_cache/
